.user-profile {
    display: flex;
    .profile-img {
        margin-right: 15px;overflow: hidden;
        img{border-radius: 50%;width: 40px;height: 40px;object-fit: cover;}
        span{display: block;width: 40px;height: 40px;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;border-radius: 50%;overflow: hidden;background-color: black;}
    }
    strong{font-size: 14px;}
    p{font-size: 12px;line-height: 1;margin-top: 4px;}
}

.produce-event-btn {
    width: 180px;height: 40px;background-color: $black;color: $yellow;font-size: 14px;font-weight: bold;margin-top: 30px;
    &:focus,
    &:hover{color: $yellow;}
}

.gnb {
    margin-top: 15px;
    .dep1 {
        padding: 15px 0;border-bottom: 1px solid #ddd;
        a {
            font-size: 14px;color: $black;line-height: 16px;display: flex;align-items: center;position: relative;
            span{position: relative;z-index: 2;}
            span::after{content: "";width: 0;height: 50%;position: absolute;bottom: 0;left: 0;background-color: $gray;z-index: -1;transition: width .15s ease-in-out;}
            i {margin-right: 15px;}
        }
        a:focus,
        a:hover{
            text-decoration: none;
            span::after{width: 100%;}
        }
        .active{
            > a{
                span{font-weight: 700;}
                span::after{background-color: $yellow;width: 100%;}
            }
        }
        > li + li{margin-top: 15px;}
        > li{
            > a::after{content: '';display: block;width: 7px;height: 14px;background: url('../images/icon-step-arr.svg') no-repeat 50% 100%;background-size: contain;position: absolute;right: 0;top: 50%;margin-top: -7px;}
            &.has-treeview{
                > a::after{content: '';display: block;width: 7px;height: 14px;background: url('../images/icon-step-arr.svg') no-repeat 50% 100%;background-size: contain;position: absolute;right: 0;top: 50%;margin-top: -7px;transform: rotate(90deg);}
                > a:focus span::after{width: 0;}
            }
            &.has-treeview.open{
                > a{
                    &::after{transform: rotate(270deg);}
                    span::after{display: none;}
                }
                .dep2{display: block;}
            }
        }
    }
    .dep2{
        margin-left: 28px;margin-top: 15px;display: none;
        > li{
            > a{
                &::before{content: '- ';margin-right: 3px;}
            }
            &.active{
                > a{font-weight: 700;
                    span::after{background: $yellow;}
                }
            }
        }
        > li + li{margin-top: 15px;}
    }
}