.modal-backdrop + .modal-backdrop.show{
    z-index: 1051;
}
.modal[data-overlap=true]{
    z-index: 1052;
}

// xl
.modal-header {
    margin: 0 40px;display: block;padding: 30px 0 0 0;border-bottom: 1px solid $black;min-height: 98px;

    .modal-header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        h3 {
            font-size: 24px
        }
        ul{
            li{
                opacity: $gray-opacity;font-size: 24px;
                i{
                    margin:0 20px;font-size: 20px;
                }
                &.active{
                    opacity: inherit;
                    i{color: #000;}
                }
            }
        }
    }
    .double-modal-title{
        font-size: 20px;
        font-weight: bold;
    }
}

.modal-body {
    max-height: 800px;
    /* .table th{ text-align:center;}
    .table th,.table td{border:1px solid $black;} */

    .modal-sub-title{
        font-weight: bold;padding: 30px 0 18px 17px;
        position: relative;
        &::after{
            content:"";
            position: absolute;
            top: 36px;
            left:0;
            width: 7px;
            height: 7px;
            background-color:$black;
        }
    }
    .example-text {
        font-size: 14px;
        color: $d-gray;
        line-height: 1.56;
    }

    .modal-textarea {
        display: flex;
        resize: none;

        &.title {
            width: 80%;
            height: 80px;

            textarea {
                width: 100%;
                height: 100%;
            }
        }

        &.create {
            width: 60%;
            height: 50px;
            margin: 10px 0 20px 0;

            textarea {
                width: 100%;
                height: 100%;
            }
        }
    }

    .select-filebox label {
        width: 120px;
        height: 40px;
        display: inline-block;
        color: $black;
        font-size: inherit;
        line-height: normal;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid $black;
        position: relative;

        p{
            text-align: center;
            line-height:40px;
        }
    }
    .select-filebox input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }


    #img2 {
        width: 100%;
        height: 100px;
    }

    .info-event{
        textarea{
            resize:none;
        }
    }
    .info-item{
        .original-del, .free-del, .count-del{
            margin :20px 0;
        }
        textarea{
            height: 50px;
        }
        .modal-option-title {
            width: 60%;
        }
    }
    // .info-lucky{}
    .info-detail-event{
        .form-phone{
            display: flex;
            align-items: center;
            hr{display:inline-block;margin:0 5px;border:1px solid $black;}
        }
        textarea{
            height: 220px;

        }
    }
    .modal-event-time{
        padding-bottom: 30px;
        p{font-size:18px;
            span{
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
    .modal-event-term{
        border-top:1px solid $gray;
        font-size: 14px;
        line-height: 1.29;
        padding-top: 30px;
    }
    .btn-border{
        border:1px solid $black;
        color:$black;
        font-size: 15px;
        font-weight: bold;
        padding : 10px 15px;
    }
}

.modal-footer{
    position: relative;padding: 22px 40px 20px;
    [class^=btn] + [class^=btn]{margin-left: 15px;}
    &::before{content: '';height: 2px;background: #000;position: absolute;left: 40px;right: 40px;top: 0;}
    &.border-none{
        &::before{content: '';height: 0;}
    }
}



//이벤트관리
.modal-event-create{
    .table tr td{
        padding :10px 20px;
    }
    .table tr{
        padding :10px 20px;
    }
    .table th{
        padding :10px 20px;
    }
}
.canvas-wrap{

    padding : 30px 0;

    .canvas-text-box{
        width: 100%;
        height: 220px;
        position: relative;
        margin:0 auto;

        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);
            p:nth-child(1){
                font-size:14px;
            }
            p:nth-child(2){
                font-size:35px;
                font-weight: bold;
            }
        }
    }

}
.success-event{
    .success-event-percent{
        display:flex;
        align-items:center;
        justify-content: space-between;
        p:nth-child(1){font-size: 20px;font-weight: bold;}
        p:nth-child(2){font-size: 40px;font-weight: bold;}
        border-bottom:1px solid $gray;
        padding-bottom:20px;
    }
    .event-count{
        div{display:flex;align-items:center;justify-content:space-between;
            div{padding:10px 0;}
            span{font-size:23px;font-weight: bold;}
        }
    }
}
.voting{font-size:50px;font-weight: bold;}
.lupicker-list{
    div{
        ul{
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom:1px solid rgba(0, 0, 0, 0.5);
                padding:15px 0;
                div{
                    span:nth-child(1){margin-right: 20px;font-size:14px;font-weight: bold;}
                    span:nth-child(1){font-size:14px;}
                }
                span{font-size:14px; font-weight: bold;}
            }
        }
    }
}
.gender-list, .age-list{
    display: flex;
    align-items: center;
    flex-flow:wrap;
    padding :30px;
    div{
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        .yellow-circle{
            width: 20px;height: 20px;
            background-color:$yellow;
            border-radius: 50%;
            margin-right: 15px;
        }
        .black-circle{
            width: 20px;height: 20px;
            background-color:$black;
            border-radius: 50%;
            margin-right: 15px;
        }
        .gray-circle{
            width: 20px;height: 20px;
            background-color:$d-gray;
            border-radius: 50%;
            margin-right: 15px;
        }
        .green-circle{
            width: 20px;height: 20px;
            background-color:#36a753;
            border-radius: 50%;
            margin-right: 15px;
        }
        .blue-circle{
            width: 20px;height: 20px;
            background-color:#4286f5;
            border-radius: 50%;
            margin-right: 15px;
        }
        .red-circle{
            width: 20px;height: 20px;
            background-color:#ea4335;
            border-radius: 50%;
            margin-right: 15px;
        }
        .orange-circle{
            width: 20px;height: 20px;
            background-color:#fabc05;
            border-radius: 50%;
            margin-right: 15px;
        }

    }
}

.seller-info{
    li{
        margin:0 0 20px 20px;
        position: relative;
        &::after{
            content:"";
            position: absolute;
            top: 50%;
            left:-20px;
            width: 5px;
            height: 5px;
            background-color:$black;
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            -moz-transform: translate(0,-50%);
            -o-transform: translate(0,-50%);

        }
        span:nth-child(1){font-size:14px;opacity: $gray-opacity;}
        span:nth-child(2){color:$black;font-size:14px;margin-left: 20px;}
    }
}

.modal-vote-list{
    width: 500px;
    .modal-sub-title{
        font-weight: bold;
        margin:30px 0 20px 20px;
        position: relative;
        &::after{
            content:"";
            position: absolute;
            top: 50%;
            left:-20px;
            width: 7px;
            height: 7px;
            background-color:$black;
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            -moz-transform: translate(0,-50%);
            -o-transform: translate(0,-50%);
        }
    }
    &.md{
        width: 820px;
    }
}

.modal-more{
    margin-top: 10px;
}

.table-next-button{
    margin-left: 247px;
}

.modal.modal-size-fix{
    .modal-dialog{margin: 0 auto;}
    .modal-header{

    }
    .modal-body{
        height: 810px;
        max-height: 810px;
    }
    &.has-tab{
        .modal-body{
            height: 771px;
        }
    }
}

.table-form{
    th,td{border-color: #000;}
    > tbody > tr > th{font-size: 16px;text-align: center;padding: 15px;}
    > tbody > tr > td{font-size: 16px;padding: 15px;}
}

label{
    .badge{transform: translateY(-2px);}
}
input:checked ~ label{
    .badge-dark {
        color: $yellow;
    }
}