$d-gray:#666;
$gray: rgba(0,0,0,0.15);
$gray-f2:#f2f2f2;
$white:#fff;
$black:#000;
$red:#d20000;
$yellow:#ffff00;

$border-color:rgba(0,0,0,0.15);

//opacity
$gray-opacity:.3;
$d-opacity:.05;
$opacity-4:.4;
$opacity-5:.5;
$opacity-6:.6;
$d-gray-opacity:.6;
$w-gray-opacity:.25;

//font
.font-11{font-size:11px;}
.font-12{font-size:12px;}
.font-13{font-size:13px;}
.font-14{font-size:14px;}
.font-15{font-size:15px;}
.font-16{font-size:16px;}
.font-18{font-size:18px;}
.font-20{font-size:20px;}
.font-22{font-size:22px;}
.font-24{font-size:24px;}
.bold{font-weight: bold;}

.w-gray{color:#000;opacity: $opacity-4;}
.gray{color:#000;opacity: $opacity-6;}

.w-150px{width:150px !important;}
.h-30{height: 30px !important;}
.h-35{height: 35px !important;}
.h-40{height: 40px !important;}
.h-45{height: 45px !important;}
.h-50{height: 50px !important;}
.h-55{height: 55px !important;}
.h-60{height: 60px !important;}
.h-70{height: 70px !important;}
.h-80{height: 80px !important;}
.h-100px{height: 100px !important;}

.line-height-20{line-height: 20px;}
.line-height-22{line-height: 22px;}

// webview common
.example-text{opacity: .4;margin-top:10px;}

.btn-next{
    width:360px;padding:20px;margin:0 auto;display:flex;align-items: center;justify-content: space-between;border-top:1px solid #ddd;
    &.border-b{border-bottom:1px solid#ddd;}
    &.white{border:1px solid #000;justify-content: center;margin-top:30px;
        p{margin-right:5px;}
        i{width: 7px;height: 10px;background-size:contain;background-repeat: no-repeat;background-position:center;}
    }
    &.black{border:0;background-color:#000;justify-content: center;margin-top:10px;
        p{color:#fff;margin-right:5px;}
        i{color:white;font-size:11px;background-size:contain;background-repeat: no-repeat;background-position:center;margin-bottom:2px;}
    }
}
.preview-btn{height: 70px !important;display: flex;align-items: center;justify-content: center;font-size:19px;font-weight: bold;}
.card-list.preview{
    display:flex;flex-flow:wrap;
    li{
        .item{width: 100%;display: block;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);margin-top:40px;background: #fff;text-decoration: none;transition: all .2s;border-radius:7px;}
        .item:hover .thumb .bg{transform: scale(1.05);}
    }
    .thumb{
        height: 180px;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;position: relative;overflow: hidden;border-radius: 7px 7px 0 0;
        .bg{height: 100%;width: 100%;position: absolute;left: 0;top: 0;transition: transform 0.2s ease 0s;background-position: center;background-size:cover;background-repeat: no-repeat;}
            img{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);max-height: none;}
        .badge{position: absolute;left: 0;bottom: 0;}
        .badge-warning{font-weight: 700;}
    }
    .text{
        padding: 15px 20px;
        .subject{
            font-size:16px;display: -webkit-box;height: 2.88em;line-height: 1.44;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: inherit;
            &.line-3{height: 3.32em;-webkit-line-clamp: 3;}
        }
        .util{
            padding-left: 15px;
            .icon{width: 30px;height: 30px;border-radius: 50%;background: #000;position: relative;
                i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
            }
            span{font-size: 11px;font-weight: 700;display: block;text-align: center;margin-top: 6px;}
        }
        .percent{
            line-height: 1.15;
            em{font-size: 12px;font-style: normal;color: #ff4841;font-weight: 700;}
            span{font-size: 14px;color: #4a4a4a;margin-left: 5px;}
        }
        .deadline{font-size: 11px;color: #4a4a4a;line-height: 1.15;margin-left:5px;}
        .progress{margin-top: 0;}
    }
    li.finished{
        .progress-bar{background-color: #7b7b7b;}
    }
}

body{color:#000;line-height: 22px;font-size:16px; }

// word-break: keep-all;
.modal-app-preview{
    .modal-dialog-scrollable .modal-content{padding: 0;}
    .modal-header{padding: 0;}
    .modal-body{padding: 0;overflow-x:hidden;}
    .modal-footer{padding: 0;
        .btn-pick{color: #ff0000;width: 100%;height: 89px;font-size: 24px;padding-top: 27px;}
    }
    .app-preview-close{background: url('../images/btn_exit.svg') no-repeat 50% 50%;width: 30px;height: 30px;display: block;position: absolute;right:20px;top: 15px;z-index: 100;}
}
.app-preview{
    .detail{padding: 30px 20px;}
    .subject{font-size: 18px;line-height: 1.44;margin-bottom: 10px;}
    .price{font-size: 22px;font-weight: 700;margin-right: 5px;line-height: 1.1818;}
    .status{font-size: 12px;font-weight: 700;color: rgba(0,0,0,0.6);}
    .text{
        padding: 15px;margin-top: 35px;font-size: 12px;background: rgba(0,0,0,0.05);
        em{margin-right: 6px;font-weight: 700;}
    }
    .desc{
        margin-top: 10px;
        li{line-height: 1.66;color: rgba(0,0,0,0.6);}
    }
}

.wrap{
    padding: 60px 0 70px 0;position:relative;
    .header{
        position:fixed;width:100%;height:60px;padding: 20px;margin-bottom:20px;top:0;background-color:$white;z-index:40;
        .ic-back{width:20px;height:15px;background-image:url(../images/ic_back.svg);background-size: cover;background-position: center;background-repeat: no-repeat;
        margin-right:15px;
        }
        .ic-home{width: 30px;height: 30px;transform: translate(5px, -5px);}
    }
    &.vote-result{padding: 0;}
    &.detail{padding: 0 0 70px 0;}
    &.feed{padding: 60px 0 70px 0;}
}

.btn{
    &.yellow{color:$yellow;}
    &.h-70{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
}

.container-wrap{
    .component{
        &.feed{
            border-bottom:1px solid #ddd;
        }
        .price{margin:10px 0 20px;}
        .date{margin-left:5px;}
    }
    .btn-xl{min-width: 100%;}
    .view-event{margin:40px 0 20px 0;}
    .feed-img{width: 100%;padding-top:100%;background-size: cover;background-repeat: no-repeat;background-position: center;border-radius: 7px; position: relative;
        .icon-like{width:30px;height:30px;background-image: url(../images/ic_btn_like_off.svg); background-position: center; background-repeat: no-repeat; background-size: cover;background-color: #000;display: inline-block;opacity: .5;border-radius: 50%; position: absolute;top:15px;right:15px;
            &.active{background-image: url(../images/ic_btn_like_on.svg);opacity: 1;}
        }
    }
    @at-root{
        .detail-img{width:100%;padding-top:100%;background-position: center;background-size:cover;background-repeat: no-repeat;}
    }
    .subject{margin-top:15px;}
    .feed-event-img{width: 163px;height: 163px;border-radius:7px;background-size: cover;background-repeat: no-repeat;background-position: center;position: relative;
        .icon-like{width:30px;height:30px;background-image: url(../images/ic_btn_like_off.svg); background-position: center; background-repeat: no-repeat;background-size: cover;background-color: #000;display: inline-block;opacity: .5;border-radius: 50%; position: absolute;top:10px;right:10px;
            &.active{background-image: url(../images/ic_btn_like_on.svg);opacity: 1;}
        }
    }
    .relation{margin-top:40px;border-top:2px solid #000;padding-bottom:40px;
        .title{font-family: 'Gilroy'; font-weight: bold; font-size:24px;margin-top:15px;}
        .items{margin-top:30px;}
        .desc{width:45%;margin-left:10px;
            .price{margin:10px 0;}
            .percent{
                border-top:1px solid #ddd;
                padding:10px 0;
            }
        }
    }
    .notice{background-color: #ddd; padding:20px 15px;margin-top:30px;
        .desc{font-size:12px;}
        li{font-size:12px;}
    }

    .info{border:1px solid #ddd; padding:20px;margin-top:15px;
        p{margin-bottom:15px;}
        li{display:flex;font-size:12px;padding-bottom:5px;
            &:last-child{padding-bottom:0;}
            span{display:inline-block;}
            span:nth-child(1){width:20%;}
            span:nth-child(2){width:75%;margin-left:15px;}
        }
    }
    .item{
        margin-top:50px;
        &.winning{padding:0;margin-left:-20px;margin-right:-20px;
            .tracking-title{padding: 0 20px 0 40px;margin:80px 0 40px 0;
                &::after{width:120px;height:120px;left:0;}
                h1{font-size:26px;line-height: 26px;margin-bottom:5px;}
                p{line-height: 20px;}
            }
            .swiper-wrapper{padding-left:40px;}
            .swiper-slide{width:300px;
                .img{width:200px;height:200px;border-radius: 50%;background-size:cover;background-repeat: no-repeat;background-position: center;}
                .num{font-size:20px;font-family: 'Gliroy'; font-weight: bold;margin-top: 10px;}
                .name{margin-top:5px;font-size:20px;font-weight: bold;}
                .winning-list{margin-top:10px;}
                .list-wrap{position: relative;margin-right:5px;}
                .people{width:20px;height:20px;display:inline-block;background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:50%;border:1px solid #fff;
                    &.people-1{margin-left:0;z-index: 1;}
                    &.people-2{margin-left:-10px;z-index: 2;}
                    &.people-3{margin-left:-10px;z-index: 3;}
                }
            }
            .event-review{
                padding:0 20px 40px;
                .card{border-bottom:1px solid #ddd;}
            }
        }
        &.product{
            .title{margin-bottom:20px; line-height: 15px;}
            .img{width: 100%;height: 320px;background-size: cover;background-position: center;background-repeat: no-repeat;}
            .desc{padding:20px 0; border-bottom:1px solid #ddd;
                h5{margin-bottom:15px;}
                p{line-height: 24px;}
            }
            .detail{
                padding:20px 0;
                li{display:flex;font-size:14px;padding-bottom:5px;
                    &:last-child{padding-bottom:0;}
                    span{display:inline-block;}
                    span:nth-child(1){width:20%;}
                    span:nth-child(2){width:75%;margin-left:15px;}
                }
            }
        }
        &.lucky{
            .title{margin-bottom:20px; line-height: 15px;}
            .img{width: 100%;height: 320px;background-size: cover;background-position: center;background-repeat: no-repeat;}
            .desc{padding:20px 0; border-bottom:1px solid #ddd;
                .only{display:inline-block;margin-bottom:9px;}
                h5{margin-bottom:15px;}
                .text{line-height: 24px;}
            }
            .lucky-item{
                .rank{display: flex; align-items: center;padding:15px 0;border-bottom:1px solid #ddd;
                    .img{width: 100px;height: 100px;background-size: cover;background-position: center;background-repeat: no-repeat;}
                    .point{width: 100px;height: 100px;border-radius: 50%;background-color: #ffff00;
                        display:flex;align-items: center;justify-content: center;
                    }
                    .text{width:61%;margin-left:15px;
                        .name{margin: 10px 0 7px 0;}
                    }
                }
            }
        }
        &.article{
            margin-top:20px;
            .content{
                img{margin: 30px 0 20px;width: 100% !important;height: auto !important;}
                .img{width: 100%;height:207px;margin:30px 0 20px 0;background-size: cover;background-position: center;background-repeat: no-repeat;}
                .content-title{line-height: 28px;
                    &.red{color:#d20000;}
                }
                .text{
                    padding:10px 0 0 0;
                    .qna{margin-top:40px;
                        p{font-size:14px; line-height: 24px;}
                        &:first-child{margin-top:0;}
                    }
                    p{line-height: 24px;}
                }
            }
        }
        &.lupick{border-top:2px solid #000;padding:15px 0 0 0;
            .title{line-height: 30px;}
            .desc{
                .text{margin-top: 15px;}
            }
        }
        &.process{border-top:1px solid $black;padding:15px 0 0 0;margin-top:40px;
            .title{line-height: 30px;}
            .desc{
                .list{display:flex;align-items: center;justify-content: center;margin-top:25px;position:relative;
                    &.top::after{content:"";position: absolute;top:30%;width: 100%;
                    height: 2px;background-color: $gray; transform:translate(0,-50%);left:50px;z-index: 0;}
                    &.bottom::after{content:"";position: absolute;top:30%;width: 100%;
                    height: 2px;background-color: $gray; transform:translate(0,-50%);right:50px;z-index: 0;}
                }
                .step{width: 25%;display:flex; align-items: center; flex-flow: column;position: relative;z-index: 1;
                    &.active{
                        .circle{background-color: $black;color:$yellow;}
                    }
                    p{font-size:14px;font-weight: bold;margin-top:7px;}
                }
                .circle{width:40px;height:40px;border-radius: 50%;background-color: $yellow;
                    color:$black;font-size:20px;font-weight: bold;display: flex;align-items: center;justify-content: center;padding:5px 0 0 0;
                }
            }
        }
    }
}
.item.move-btn{margin-top:50px;}
.item.share{
    margin:40px 0 50px 0;display:flex;align-items: center;justify-content: center;
    .list{width: 50px;text-align: center;margin:0 15px;
        p{font-size: 12px; font-weight: bold;}
    }
    .desc{width:50px;height: 50px;display:flex;align-items: center;justify-content: center;background-color: rgba(0, 0, 0, 0.05);border-radius: 50%;margin: 0 auto;}
    .ic-heart{width: 30px;height: 30px;background-image:url(../images/ic_heart.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
    .ic-share{width: 30px;height: 30px;background-image:url(../images/ic_share.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
    .ic-ask{width: 30px;height: 30px;background-image:url(../images/ic_ask.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
}
.modal-dialog{
    .modal-header{
        .header{
            position: relative;width: 418px;height: 60px;padding: 20px;margin-bottom: 0;top: 0;background-color: #fff;z-index: 40;
            .ic-back{width: 20px;height: 15px;background-image: url(../images/ic_back.svg);background-size: cover;background-position: center;background-repeat: no-repeat;margin-right: 15px;}
        }
    }
    .container-wrap{
        padding: 0 20px;
        .container-wrap{padding:  0;}
        &.feed{
            .component{margin-top: 30px;}
        }
    }
    // admin에서만 바텀 패딩값 height:100%
    .exhibition-main{width: 100%;height:100%;padding:20px 20px 80px 20px; margin-bottom:40px;
        .main-banner{width: 100%;padding-top:100%;background-position: center; background-size: cover;background-repeat: no-repeat;}
        .title{color:#fff;margin:30px 0 15px 0; font-size:26px; font-weight: bold;}
        .desc{color:#fff;line-height: 24px;}
        .example-text{color:#fff;opacity: 0.5;margin:10px 0;}
    }
    .copyright{
        font-size: 10px;color: #000;opacity: 0.4;margin: 20px 0;
    }
}