$d-gray:#666;
$gray: rgba(0,0,0,0.15);
$gray-f2:#f2f2f2;
$white:#fff;
$black:#000;
$red:#ff4545;
$yellow:#ffec00;
$sky: #4AC0FF ;
$muted: rgba(0,0,0,0.4);

$border-color:rgba(0,0,0,0.15);

//opacity
$gray-opacity:.3;
$opacity-4:.4;
$d-opacity:.05;
$opacity-5:.5;
$opacity-6:.6;
$w-gray-opacity:.25;

* { -webkit-touch-callout: none; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }

input,textarea { -webkit-touch-callout: default !important; -webkit-user-select: text !important; }

i,
em{font-style: normal;}

.paint{
    position: relative;z-index: 2;font-weight:bold;color:$black;opacity: 1 !important;
    &:after {
        content: "";width: 100%;height: 50%;position: absolute;bottom: 0;left: 0;background-color: $yellow;z-index:-1;
    }
    &.paint-muted{
        &:after {
            background-color: rgba(0,0,0,0.1);
        }
    }
}
//font
.font-11{font-size:11px !important;}
.font-12{font-size:12px !important;}
.font-13{font-size:13px !important;}
.font-14{font-size:14px !important;}
.font-15{font-size:15px !important;}
.font-16{font-size:16px !important;}
.font-18{font-size:18px !important;}
.font-20{font-size:20px !important;}
.font-22{font-size:22px !important;}
.font-24{font-size:24px !important;}
.bold{font-weight: bold;}
.regular{font-weight: 400 !important;}
.nanumBarunGothic{
    font-family: 'NanumBarunGothic';
}
.gilroy{
    font-family: 'Gilroy';
    -webkit-font-smoothing: antialiased;

}
.ex-text{font-size: 12px;color:#000;opacity: .4;}
.example-text{opacity: $opacity-4;margin-top:10px;}

.g-b{font-family: 'Gilroy';font-size:18px;line-height: 1.35;}

.p-20{padding: 0 20px;}

button{border: 0;background: transparent;padding: 0;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.w-gray{color:#000;opacity: $opacity-4;}
.gray{color:#000;opacity: $opacity-6;}

.w-150px{width:150px !important;}
.h-30{height: 30px !important;}
.h-35{height: 35px !important;}
.h-40{height: 40px !important;}
.h-45{height: 45px !important;}
.h-50{height: 50px !important;}
.h-55{height: 55px !important;}
.h-60{height: 60px !important;}
.h-70{height: 70px !important;}
.h-80{height: 80px !important;}
.h-100px{height: 100px !important;}

.line-height-20{line-height: 20px;}
.line-height-22{line-height: 22px;}

[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 50% 50%;line-height: 1;font-size: 0;}
.icon-clock{width: 12px;height: 12px;background-image: url('../images/icon-clock.svg');}
.icon-clock-white{width: 12px;height: 12px;background-image: url('../images/icon-clock-white.svg');}
.icon-bell-white{width: 32px;height: 32px;background-image: url('../images/ic-bell-white.svg');}
.icon-alarm-yellow{width: 32px;height: 32px;background-image: url('../images/ic-alarm-yellow.svg');}
.icon-point{width: 24px;height: 24px;background-image: url('../images/ic-point.svg');}
.icon-info-sky{width: 15px;height: 15px;background-image: url('../images/icon-info-sky.svg');}
.icon-toggler-arrow-down{width: 10px;height: 10px;background-image: url('../images/icon-toggler-arrow-down.svg');}
.icon-x-white{width: 20px;height: 20px;background-image: url('../images/icon-x-white.svg');}
.icon-check-black{width: 9px;height: 7px;background-image: url('../images/icon-check-black.svg');}
.icon-question-mark{width: 14px;height: 14px;background-image: url('../images/icon-question-mark.svg');}

.icon-arrow-down { width: 12px; height: 6px; background-image: url(../images/icon-arrow-down.svg);}

.icon-link-arr { width: 7px; height: 12px; background-image: url(../images/icon-link-arr.svg); vertical-align: middle; }
.icon-link-arr-sm { width: 4px; height: 8px; background-image: url(../images/icon-link-arr.svg); }
.icon-arrow-right { display: inline-block; width: 7px; height: 10px; background-image: url(../images/arrow_right.svg); vertical-align: middle; }
.icon-arrow-right-gray { display: inline-block; width: 7px; height: 10px; background-image: url(../images/arrow_right-gray.svg); vertical-align: middle; }
.icon-more-arrow-down { display: inline-block; width: 7px; height: 10px; background-image: url(../images/icon-more-arrow-down.svg); vertical-align: middle; }

.hr{background-color: rgba(0,0,0,0.05);height: 10px;margin: 0 -20px;}

//:focus{outline: 1px solid $black;border-radius: 0;}
input:focus,
button:focus,
a:focus{outline: none;box-shadow: none !important;}

.min-width-0{min-width: 0;}

.border-radius-0{border-radius: 0 !important}

.text-muted{color: rgba(0,0,0,0.4);}
.text-sky{color: $sky;}
.text-red{color: #ff2d00;}
.text-yellow{color: $yellow;}

#article{
    section>div{padding: 5px 0;}
}
//button
.btn{
    height: 40px;min-width:120px;
    td > &{
        + .btn{margin-left: 6px;}
    }
}
.btn-sm{
    min-width:70px;padding: 8px 5px;height: 35px;font-size: 13px;font-weight: 700;
    &.btn-light{background: rgba(0,0,0,0.05);color: rgba(0,0,0,0.6);}
}
.btn-md{
    min-width: 100px;
    &.text-lager{font-size: 16px;min-width: 150px;}
}
.btn-lg{
    min-width: 155px;padding:0;height: 50px;line-height: 49px;
    &.text-smaller{font-size: 14px;}
    &.btn-outline-dark{min-width: 155px;}
    &.normal{font-weight: 400 !important;}
    &.black{color:$black;}
    &.btn-new-style{font-size: 18px;font-weight: 700;line-height: 1;}
}
.btn-xl{
    min-width:100%;font-size: 22px;font-weight: 700;display: flex;align-items: center;justify-content: center;
    &.normal{font-weight: 400 !important;}
    &.font-16{font-size:16px !important;}
    &.font-18{font-size:18px !important;}
    &.font-20{font-size:20px !important;}
}
.btn-outline-sky{
    color: $sky;border: 1px solid $sky;border-radius: 7px;font-weight: 700;
    &.active{background: $sky;color: #fff;}
}
.btn-outline-dark{
    background-color: #fff;
    &:disabled{color: #c6c6c6;border-color: #c6c6c6 !important;}
    &.normal{font-weight: 400 !important;}
}
.btn-outline-gray{
    color:$black;
    &.normal{font-weight: 400 !important;}
}
.btn-dark.disabled, .btn-dark:disabled {
    &.black{background-color: #f2f2f2;border-color: #f2f2f2;}
}
.btn-new-style{
    border-radius: 7px;display: flex;align-items: center;justify-content: center;
}
.tracking-btn{
    width:100%;height:40px;font-size:14px;color:#000;border: 1px solid $border-color;border-radius: 7px;font-weight: 700;
    &:disabled{color: $muted;}
    &.tracking-btn{
        height: 44px;
    }
    &.btn-sky{
        border-color: $sky;color: $sky;
        &:disabled{background: rgba(74,192,255,.1);}
    }
}

.form-group{
    > label{font-size: 14px;font-weight: 700;color: #000;line-height: 1.1428;margin-bottom: 5px;
        small{font-size: 10px;color: rgba(0,0,0,0.3);font-weight: 400;margin-left: 2px;}
    }
}

.form-control{
    &.bottom-line-style{border: 0;border-bottom: 1px solid $border-color;padding-left: 0;padding-right: 0;color: #000;}
}

.search{width:100%;text-align:center;margin-top:20px;
    .input-search{position: relative;width:100%;margin:20px auto 0;
        .ic-search{position: absolute;top:50%;right:15px;transform: translate(0, -50%);}
    }
}
.ic-help{width:24px;height:24px;display:inline-block;background-image:url(../images/ic_help.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
//select
select.select-sm{opacity: 0;height: 45px;}
select.select-md{opacity: 0;height: 50px;}
select.select-lg{opacity: 0;height: 65px;}
.ui-selectmenu-button.ui-button{
    background: #fff !important;border: 1px solid $border-color;border-radius: 0;outline: 0;width: 230px;height: 40px;padding: 15px 15px 0;margin: 0;font-size: 14px;
    .ui-icon{background: url('../images/btn_arrow.svg') no-repeat 50% 50%;width: 12px;height: 6px;position: absolute;right: 15px;top: 50%;margin-top: -4px; background-size: contain;}
    &[aria-expanded="true"]{
        .ui-icon{transform: rotate(180deg);}
    }
    .select-sm + &{
        width: 100%;height: 45px;font-size: 14px;
    }
    .select-md + &{
        width: 100%;height:50px;font-size: 14px;
    }
    .select-lg + &{
        width: 100%;height: 65px;padding: 22px 30px 0;box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);border-color: #eee;
        .ui-icon{background: url('../images/arrow_down.png') no-repeat 50% 50%;width: 14px;height: 10px;right: 30px;margin-top: -5px; background-size: contain;}
        .ui-selectmenu-text{font-size: 18px;}
    }
    .select-text + &{
        width: 140px;font-size: 14px;border: 0;padding: 12px 15px 0;
        .ui-icon{right: 0;}
        .ui-selectmenu-text{text-align: right;font-size: 14px;font-weight: 700;color: #000;margin-right: 2px;}

    }
}
.ui-selectmenu-menu{
    z-index: 1052;margin-top: -1px;
    .ui-menu{
        max-height: 300px;border-radius: 0;border-color: $border-color;margin-top: -1px;padding-bottom: 0;
        .ui-menu-item + .ui-menu-item{border-top: 1px solid $border-color;}
        .ui-menu-item-wrapper{height: 45px;padding: 12px 15px 0;border: 0;font-size: 14px;}
        .ui-state-active{background: #888;border: 0;margin: 0;}
    }
    .ui-menu.select-lg{
        .ui-menu-item-wrapper{height: 64px;padding: 20px 30px 0;font-size: 18px;}
    }
    .select-text{
        .ui-state-active{background: #fff url('../images/ic_sort_check.svg') no-repeat right 10px top 50%;color: #000;}
        .ui-menu-item + .ui-menu-item{border-top: 0 !important;}
        .ui-menu-item-wrapper{padding: 0 15px;height: auto;line-height: 40px;}
    }
}

.badge{
    padding: 2px 7px 0;height: 24px;font-weight: 700;border-radius: 7px;margin-right: 3px;margin-bottom: 5px;font-family: 'Gilroy','NanumBarunGothic';font-size: 12px;
    i{vertical-align: middle;transform: translateY(-1px);margin-right: 1px;}
    &.badge-outline-muted{border-color: rgba(0,0,0,.6);color: rgba(0, 0, 0, .6);}
    &.badge-yellow{background: $yellow;border-color: #000;}
}
.badge-shipping{
    min-width: 0;font-family: 'NanumBarunGothic';margin: 0;
}
.badge-feed{
    min-width: 0;font-family: 'NanumBarunGothic';margin: 0;height: 21px;padding-top: 0;
}

.badge-event{
    height: 32px;padding-top: 6px;width: 84px;margin: 0;border-radius: 7px;
    &.badge-yellow{
        background: $yellow;border-color: #000;
    }
    &.badge-dark{
        color: $yellow;
    }
}


.new-checkbox{
    padding-left: 1.25em;line-height: 1;
    input{
        -webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-print-color-adjust: exact;width: 14px;height: 14px;vertical-align: top;background: rgba(216,216,216,1) url('../images/icon-check-white.svg') 50% 50% no-repeat;background-size: 13px auto; border-radius: 2px;float: left;margin-left: -1.25em;
        &:checked{background-color: #000;}
    }
    label{font-size: 14px;line-height: 1;color: #000;display: inline-block;}
}

.title-lg{font-size: 30px;line-height: 1.333;margin-bottom: 20px;font-weight: 400;}

.title-ball{
    display: inline-block;width: 20px;height: 20px;border-radius: 50%;transform: translateY(-1px);
    &.yellow{background: $yellow;}
    &.black{background-color: $black;}
    &.red{background-color: #ff2d00;}
    & + .title-ball{margin-left: 3px;}
    & + p{margin-left: 7px;}
}

.btn-next{
    width:100%;padding:20px;display:flex;align-items: center;justify-content: space-between;border-top:1px solid rgba(0,0,0,0.15);
    &.border-b{border-bottom:1px solid rgba(0,0,0,0.15);}
    &.white{border:1px solid $black;justify-content: center;margin-top:30px;
        p{margin-right:5px;}
        i{width: 7px;height: 10px;background-size:contain;background-repeat: no-repeat;background-position:center;}
    }
    &.black{border:0;background-color:$black;justify-content: center;margin-top:10px;
        p{color:$white;margin-right:5px;}
        i{color:white;font-size:11px;background-size:contain;background-repeat: no-repeat;background-position:center;margin-bottom:2px;}
    }
}

.spinner{
    display: inline-block;
    .spinner-box{
        display: flex;overflow: hidden;
        button{width:17px;height:17px;border: 0;padding: 0;background: $black;}
        i{vertical-align: top;}
        .spinner-input{display: block;width: 40px;border: 0;margin: 0;background: #fff;text-align: center;border-radius: 0;line-height: 16px;padding: 1px 0 0 0;font-size: 15px;color: #000;opacity: 1; -webkit-text-fill-color: #000}
        .spinner-input[readonly],
        .spinner-input:disabled{color: #000;opacity: 1; -webkit-text-fill-color: #000}
        .icon-minus{width:100%;height:100%;background-image: url(../images/spinner_minus.svg); background-position: center; background-size: cover;display: inline-block;}
        .icon-plus{width:100%;height:100%;background-image: url(../images/spinner_plus.svg); background-position: center; background-size: cover;display: inline-block;}
    }
    &.spinner-sm{
        i{width: 36px;height: 36px;}
        .spinner-input{font-size: 95%;}
    }
}

.animate-bottom {animation: animatebottom 0.25s ease-in-out both;}
@keyframes animatebottom {
    0% {
        bottom: -60vh;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

// modal detail
.modal[data-overlap=true]{
    z-index: 1052;
}
.modal-dialog{
    width: 100%;height: 100%;position: relative;margin: 0 auto;
    .modal-content{
        .modal-header{padding: 20px 0;display:flex;align-items: center;justify-content: space-between;margin-bottom:20px;}
        .ic-close{width:20px;height:20px;background-image: url(../images/ic_exit.svg); background-size: cover; background-position: center;}
        .ic-back{width: 20px;height: 15px;  background-image: url(../images/ic_back.svg); background-size: cover; background-position: center; background-repeat: no-repeat; margin-right: 15px;}
    }
    &.detail{
        overflow: hidden;
        @at-root{
            .modal-alert{
                width:100%;position:absolute;padding:20px;top:0;display:none;
                .toast{padding:20px;background-color: $white; border-radius: 7px;display:flex;align-items:center;
                     .icon{width: 20px;height: 20px;background-image: url(../images/ic_alert_large.svg); background-size: cover; background-position: center;margin-right:15px;}
                 }
                 &.active{
                     display:block;
                 }
             }
        }

        .modal-content{
            width: 100%;
            position: absolute;
            bottom: 0;
            .wrap{
                padding: 30px 20px calc(constant(safe-area-inset-bottom) + 78px) !important;
                padding: 30px 20px calc(env(safe-area-inset-bottom) + 78px) !important;
            }
            .scroll-area{max-height: 52vh;overflow-x: hidden;}
            .title{display:inline-block;margin-bottom:10px;vertical-align: top;}
        }
    }
    &.none{
        .modal-content{
            width: 100%;height:100vh;padding:0 20px 0;
            .payment-wrap{padding:0;
                .tab.order{
                    margin:50px 0 0 0;
                }
            }
        }
    }
    &.tracking{
        .modal-content{
            width: 100%;padding:0 20px 40px;
            .payment-wrap{padding:0;
                .tab.order{
                    margin:50px 0 0 0;
                }
                .tab.tracking{
                    margin:50px 0 0 0;
                    .step{display:none;padding:15px 0; border-bottom:1px solid $gray;margin-bottom:-1px;
                        &:first-child{border-top:1px solid $gray}
                    }
                    .tracking-more{
                        position: relative;margin-top:20px;
                        &::after{
                            content:"";width: 12px;height: 6px; display: inline-block;
                            margin: 0 5px;background-image: url(../images/btn_arrow.svg);
                            background-repeat: no-repeat;background-position: center;background-size: contain;
                        }
                        &.active{
                            &:after{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
    &.receipt{
        .modal-content{
            width: 100%;height:100%;padding:0 20px 40px;
            .modal-body{padding:0;
                .title{font-size:30px;line-height: 40px;}
            }
            input{border:0;border-bottom:1px solid $gray;margin:30px 0;}
            input[type=email]{font-size:16px;}
        }
    }
    &.help{
        display:flex;align-items:center;justify-content:space-between;
        .modal-content{
            width: 90%;padding:0 30px 40px;margin:auto;border-radius: 7px;
            .content{
                .title{margin:15px 0;line-height: 30px;}
            }
            .desc{margin-bottom:25px;
                li{display:flex;padding:15px 0;border-bottom:1px solid $gray;
                    &:last-child{border-bottom:0;}
                    p{width: 70%;margin-left:25px;}
                }
            }
            .ic-vote{width:60px;height:60px;background-size: cover;background-position: center;background-repeat: no-repeat;
                &.vote1{background-image:url(../images/image_vote_1.svg);}
                &.vote2{background-image:url(../images/image_vote_2.svg);}
                &.vote3{background-image:url(../images/image_vote_3.svg);}
            }
        }
    }
    &.list{
        .modal-content{
            width: 90%;height:600px;padding:0 15px 40px;margin: 20px auto;border-radius: 7px;overflow-y:scroll;
            .wrap{height: 100%;}
            .table{
                height:100%;word-break: break-all !important;border-left:2px solid $white;border-right:2px solid $white;
                th{font-size:10px}
                td{font-size:12px;padding:10px;}
            }
        }
    }
    &.success{display:flex;align-items:center;justify-content:center;flex-flow:column;
        .modal-content{
            width:240px;height: 240px;background-color: $black;border-radius: 50%;display:flex;
            align-items: center;justify-content:center;text-align:center;
            .desc{
                p{color:$white;}
                .number{font-size:40px; line-height: 40px;}
                .nic-name{margin:5px 0 10px 0;}
            }
        }
        .text{color:$white;margin-top: 20px;}
    }
    &.fail{display:flex;align-items:center;justify-content:center;flex-flow:column;
        .modal-content{
            width:240px;height: 240px;background-color: $yellow;border-radius: 50%;display:flex;
            align-items: center;justify-content:center;text-align:center;
            .desc{
                p{color:$black;}
                .number{font-size:40px; line-height: 40px;}
                .nic-name{margin:5px 0 10px 0;}
            }
        }
        .text{color:$white;margin-top: 20px;}
    }
    &.random{
        display: flex;align-items: center;justify-content: center;width:75%;margin:0 auto;
        .modal-content{border-radius: 7px;}
        .modal-body{padding:45px 32px 25px;}
        .modal-footer{padding:0;display:flex;
            button{width:50%;border:1px solid $gray;
            &:first-child{border-right:0;}
            }
        }
    }
    &.error{
        .modal-content{width:280px;height:350px;margin:50px auto;padding:40px 20px 30px;border-radius: 7px;}
        .modal-body{text-align: center;}
    }
    &.question{
        .modal-header{align-items: center;justify-content: start;}
        .modal-content{padding:0 20px;height:auto;}
        .question-wrap{
            .content{margin-bottom:30px;}
            .title{margin-bottom:10px;}
            .comm-textarea{
                position:relative;
                textarea{height:200px;}
                p{position: absolute;bottom:10px;right:15px;}
            }
        }
        @at-root{
            .event-mini-card{
                width:100%;padding:15px;display:flex;align-items: center;border:1px solid $gray;border-radius: 7px;
                .img{width:48px;height:48px;border-radius: 50%;background-size: cover;background-repeat: no-repeat;background-position: center;}
                .text{width:80%;margin-left:10px;}
            }
        }
    }
    &.share{
        padding:0 20px;border:1px solid $gray;position:relative;
        .modal-content{position: absolute;bottom:30%;left:50%;transform:translate(-50%,0); width:95%;border:1px solid $gray;}
        ul{display:flex;align-items:center;justify-content: center;padding:20px;
            li{width:40px;height:40px;border-radius: 50%;border:1px solid $gray;margin:0 10px;display:flex; align-items: center;justify-content:center;
                i{font-size:18px;vertical-align: middle;}
            }
        }
    }
    &.dim{
        .modal-content{display:none;}
    }
    &.point{
        height:100%;display:flex;align-items:center;justify-content: center;
        .modal-content{
            width:280px;border-radius: 7px;
        }
        .modal-body{display:flex;align-items: center;justify-content: center;padding:45px 55px 25px; font-size:14px;text-align: center;}
        .modal-footer{border-top:1px solid $gray;padding: 15px 0;}
    }
}

.modal{
    &.modal-full{
        background: #000; height: 100%;
        .modal-content{background: #000;}
    }
    .modal-close{position: absolute;right: 20px;top: 17px;z-index: 1;}
}


.filebox{
    .upload-name {
        width:100%;height:40px;display: none;height: 35px;font-size:18px;padding: 0 10px;vertical-align: middle; background-color: #ddd;border:0;
        margin-bottom:10px;
        &.active{display:block;}
    }
    label {width:100%;height:50px; display: inline-block; padding: 10px 20px;color: #999;background-color: #fdfdfd;cursor: pointer;  border: 1px solid #ebebeb;
        display: flex;align-items: center;
    }
    input[type="file"] {
        position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;
    }
}

.error-wrap{
    display: flex;align-items: center;justify-content: center;height: 100vh;text-align: center;overflow: hidden;
    strong{font-size: 18px;font-weight: 700;color: #000;line-height: 1.111;margin-top: 23px;display: block;}
    p{font-size: 14px;color: rgba(0,0,0,0.4);line-height: 1.428;margin-top: 16px;}
    .btn{width: 200px;padding-top: 10px;margin-top: 40px;font-size: 14px;}
}

.wrap{
    > .ic-close{position: absolute;right: 20px;top: 20px;}
}

.random-balls{
    position: absolute;width: 100vw;height: 100vh;z-index: -1;overflow: hidden;
    .ball{width: 80px;height: 80px;border-radius: 50%;overflow: hidden;background: $yellow;position: absolute;transform: translate(-50%, -50%);}
    & + .wrap{z-index: 1;}
}

.scoll-prevent{
    height:100vh;overflow:hidden !important; touch-action:none;position: fixed;width: 100%;min-height: -webkit-fill-available;
}

.btn-bottom-spacing{
    &.p-b-40{
        padding-bottom: calc(constant(safe-area-inset-bottom) + 40px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
    }
}

.full-video{
    position: relative;height: 0;padding-bottom: 56.25%;margin: 0 -20px 20px;
    > iframe{position: absolute;left: 0;top: 0;width: 100% !important;height: 100% !important;}
}

.full-img{
    margin: 0 -20px;overflow: hidden;
    img{width: auto !important;max-width: 100% !important;height: auto !important;}
}


.loading-voting{
    position: fixed;left: 0;top: 0;z-index: 9999;width: 100%;height: 100%;background: rgba(0,0,0,0.5);display: flex;align-items: center;justify-content: center;flex-direction: column;display: none;
    &.show{display: flex;}
    $loader--width: 200px;
    $loader-dot--size: 16px;
    .loader {
        height: $loader-dot--size;width: $loader--width;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;transform: translateY(-50%);

        &--dot {
            animation: {
                name: loader;
                timing-function: ease-in-out;
                duration: 3s;
                iteration-count: infinite;
            }
            height: $loader-dot--size;width: $loader-dot--size;border-radius: 100%;background-color: $yellow;position: absolute;border: 2px solid $yellow;

            &:first-child { animation-delay: 0.5s; }
            &:nth-child(2) { animation-delay: 0.4s; }
            &:nth-child(3) { animation-delay: 0.3s; }
            &:nth-child(4) { animation-delay: 0.2s; }
            &:nth-child(5) { animation-delay: 0.1s; }
            &:nth-child(6) { animation-delay: 0s; }
        }
        &--text {
            position: absolute;top: 200%;left: 0;right: 0;margin: auto;text-align: center;font-size: 16px;font-weight: 700;color: #fff;
        }
    }
    @keyframes loader {
        15% { transform: translateX(0); }
        45% { transform: translateX( $loader--width - $loader-dot--size ); }
        65% { transform: translateX( $loader--width - $loader-dot--size ); }
        95% { transform: translateX(0); }
    }
}

.my-tab{
    margin-bottom: 20px;
    ul{display: grid;grid-template-columns: repeat(auto-fit, minmax(0, auto));}
    li{
        display: table-cell;text-align: center;
        a{font-size: 14px;color: rgba(0,0,0,0.4);padding-bottom: 4px;display: block;}
    }
    li.active{
        border-bottom: 2px solid #000;
        a{color: #000;font-weight: 700;}
    }
}

.event-items{
    .item{line-height: 1.66;}
    .item + .item{margin-top: 30px;}
    .thumb{
        img{width: 80px;height: 80px;object-fit: cover;}
    }
    .tit{font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;font-weight: 700;line-height: 1;margin-bottom: 3px;padding-top: 1px;}
    .product{font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-bottom: 2px;}
    .status{font-size: 14px;font-weight: 700;}
    .tracking-btn{margin-top: 3px;}
}

.congratulation{color: $sky;font-weight: 700;margin-top: 30px;}

.white-pre-wrap{white-space: pre-wrap;}
.white-break-spaces{white-space: break-spaces;}

.item-info{
    padding: 0 20px;font-size: 14px;line-height: 1.57;
    dt{margin-top: 20px;}
    dd{
        line-height: 1.8;
    }
}

.modal-info-style{
    .modal-dialog{
        max-width: 280px
    }
    .modal-content{
        border-radius: 7px;
    }
    .modal-body{
        padding: 40px 20px;
    }
}

.modal-slide-up{
    .modal-dialog{display: flex;align-items: flex-end;overflow: hidden;}
    .modal-content{background: transparent;border-radius: 7px 7px 0 0;overflow: hidden;opacity: 0;transform: translateY(50px);transition: all .35s;}
    .ic-close{position: absolute;top: 20px;right: 20px;z-index: 1;}
    .modal-body{
        background: #fff;flex: 0 0 auto;padding: 40px 20px;
        padding-bottom: calc(constant(safe-area-inset-bottom) + 40px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
    }
    &.show{
        .modal-content{opacity: 1;transform: translateY(0);}
    }
}

/* loading */
$bubble-size: 5px;
$spinnin-bubble-translate: 200%;
$spinning-bubble-transform-origin: ($spinnin-bubble-translate - 50%) * -1;
$spoke-translate: 100%;
$spoke-transform-origin: ($spoke-translate) * -1;
.loading-spokes{
    position: relative;height: 40px;width: 40px;
    .spoke-container{
        position: absolute;top: 50%;left: calc(50% - #{$bubble-size}*1.5);
        transform-origin: 50% $spoke-transform-origin;
        .spoke{
            background: rgb(150, 155, 163);
            width: $bubble-size;
            height: $bubble-size * 2;
            border-radius: 5px;
            animation: spoke 1s infinite;
            animation-delay: inherit;
        }
        &:nth-of-type(0n+1){
        transform: translateX($spoke-translate) rotate(-90deg);
        animation-delay: -0.875s;
        }
        &:nth-of-type(0n+2){
        transform: translateX($spoke-translate) rotate(-45deg);
        animation-delay: -0.750s;
        }
        &:nth-of-type(0n+3){
        transform: translateX($spoke-translate);
        animation-delay: -0.625s;
        }
        &:nth-of-type(0n+4){
        transform: translateX($spoke-translate) rotate(45deg);
        animation-delay: -0.5s;
        }
        &:nth-of-type(0n+5){
        transform: translateX($spoke-translate) rotate(90deg);
        animation-delay: -0.375s;
        }
        &:nth-of-type(0n+6){
        transform: translateX($spoke-translate) rotate(135deg);
        animation-delay: -0.25s;
        }
        &:nth-of-type(0n+7){
        transform: translateX($spoke-translate) rotate(180deg);
        animation-delay: -0.125s;
        }
        &:nth-of-type(0n+8){
        transform: translateX($spoke-translate) rotate(225deg);
        animation-delay: 0;
        }
    }
}
@keyframes spoke{
  0%{opacity: 1}
  100%{opacity: 0.2}
}

