$d-gray:#666;
$gray: rgba(0,0,0,0.15);
$gray-f2:#f2f2f2;
$white:#fff;
$black:#000;
$red:#d20000;
$yellow:#ffff00;

$border-color:rgba(0,0,0,0.15);

//opacity
$gray-opacity:.3;
$d-opacity:.05;
$opacity-4:.4;
$opacity-5:.5;
$opacity-6:.6;
$d-gray-opacity:.6;
$w-gray-opacity:.25;

//font
.font-11{font-size:11px;}
.font-12{font-size:12px;}
.font-13{font-size:13px;}
.font-14{font-size:14px;}
.font-15{font-size:15px;}
.font-16{font-size:16px;}
.font-18{font-size:18px;}
.font-20{font-size:20px;}
.font-22{font-size:22px;}
.font-24{font-size:24px;}
.bold{font-weight: bold;}

.w-gray{color:#000;opacity: $opacity-4;}
.gray{color:#000;opacity: $opacity-6;}

.w-150px{width:150px !important;}
.h-30{height: 30px !important;}
.h-35{height: 35px !important;}
.h-40{height: 40px !important;}
.h-45{height: 45px !important;}
.h-50{height: 50px !important;}
.h-55{height: 55px !important;}
.h-60{height: 60px !important;}
.h-70{height: 70px !important;}
.h-80{height: 80px !important;}
.h-100px{height: 100px !important;}

.line-height-20{line-height: 20px;}
.line-height-22{line-height: 22px;}

// webview common
.example-text{opacity: .4;margin-top:10px;}

.btn-next{
    padding:20px;display:flex;align-items: center;justify-content: space-between;border-top:1px solid #ddd;
    &.border-b{border-bottom:1px solid#ddd;}
    &.white{border:1px solid #000;justify-content: center;margin-top:30px;
        p{margin-right:5px;}
        i{width: 7px;height: 10px;background-size:contain;background-repeat: no-repeat;background-position:center;}
    }
    &.black{border:0;background-color:#000;justify-content: center;margin-top:10px;
        p{color:#fff;margin-right:5px;}
        i{color:white;font-size:11px;background-size:contain;background-repeat: no-repeat;background-position:center;margin-bottom:2px;}
    }
}
.preview-btn{height: 70px !important;display: flex;align-items: center;justify-content: center;font-size:19px;font-weight: bold;}
.card-list.preview{
    display:flex;flex-flow:wrap;
    li{
        .item{width: 100%;display: block;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);margin-top:40px;background: #fff;text-decoration: none;transition: all .2s;border-radius:7px;}
        .item:hover .thumb .bg{transform: scale(1.05);}
    }
    .thumb{
        height: 180px;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;position: relative;overflow: hidden;border-radius: 7px 7px 0 0;
        .bg{height: 100%;width: 100%;position: absolute;left: 0;top: 0;transition: transform 0.2s ease 0s;background-position: center;background-size:cover;background-repeat: no-repeat;}
            img{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);max-height: none;}
        .badge{position: absolute;left: 0;bottom: 0;}
        .badge-warning{font-weight: 700;}
    }
    .text{
        padding: 15px 20px;
        .subject{
            font-size:16px;display: -webkit-box;height: 2.88em;line-height: 1.44;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: inherit;
            &.line-3{height: 3.32em;-webkit-line-clamp: 3;}
        }
        .util{
            padding-left: 15px;
            .icon{width: 30px;height: 30px;border-radius: 50%;background: #000;position: relative;
                i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
            }
            span{font-size: 11px;font-weight: 700;display: block;text-align: center;margin-top: 6px;}
        }
        .percent{
            line-height: 1.15;
            em{font-size: 12px;font-style: normal;color: #ff4841;font-weight: 700;}
            span{font-size: 14px;color: #4a4a4a;margin-left: 5px;}
        }
        .deadline{font-size: 11px;color: #4a4a4a;line-height: 1.15;margin-left:5px;}
        .progress{margin-top: 0;}
    }
    li.finished{
        .progress-bar{background-color: #7b7b7b;}
    }
}

body{color:#000;line-height: 22px;font-size:16px; }

// word-break: keep-all;
.modal-app-preview{
    .modal-dialog-scrollable .modal-content{padding: 0;}
    .modal-header{padding: 0;}
    .modal-body{padding: 0;overflow-x:hidden;}
    .modal-footer{padding: 0;
        .btn-pick{color: #ff0000;width: 100%;height: 89px;font-size: 24px;padding-top: 27px;}
    }
    .app-preview-close{background: url('../images/btn_exit.svg') no-repeat 50% 50%;width: 30px;height: 30px;display: block;position: absolute;right:20px;top: 15px;z-index: 100;}
}
.app-preview{
    .detail{padding: 30px 20px;}
    .subject{font-size: 18px;line-height: 1.44;margin-bottom: 10px;}
    .price{font-size: 22px;font-weight: 700;margin-right: 5px;line-height: 1.1818;}
    .status{font-size: 12px;font-weight: 700;color: rgba(0,0,0,0.6);}
    .text{
        padding: 15px;margin-top: 35px;font-size: 12px;background: rgba(0,0,0,0.05);
        em{margin-right: 6px;font-weight: 700;}
    }
    .desc{
        margin-top: 10px;
        li{line-height: 1.66;color: rgba(0,0,0,0.6);}
    }
}

.wrap{
    padding: 60px 0 80px 0;position:relative;
    .header{
        position:fixed;width:100%;height:60px;padding: 20px;margin-bottom:20px;top:0;background-color:$white;z-index:40;
        .ic-back{width:20px;height:15px;background-image:url(../images/ic_back.svg);background-size: cover;background-position: center;background-repeat: no-repeat;
        margin-right:15px;
        }
        .ic-home{width: 30px;height: 30px;transform: translate(5px, -5px);}
    }
    &.vote-result{padding: 0;}
    &.detail{padding: 0 0 80px 0;}
    &.feed{padding: 0 0 0 0;}
}

.btn.fixed{
    position:absolute;bottom: 0;left: 0;z-index: 100;display:flex;align-items: center;justify-content: center;
    padding-bottom: calc(constant(safe-area-inset-bottom) + 9.5px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 9.5px);
    height: calc(constant(safe-area-inset-bottom) + 80px) !important;
    height: calc(env(safe-area-inset-bottom) + 80px) !important;
    &.yellow{color:$yellow;}
    .icon{
        width:18px;height:16px;display:inline-block;background-image:url(../images/arrow.svg);background-size: cover;background-position: center;background-repeat: no-repeat;vertical-align: middle;
    }
    .icon-active{
        width:18px;height:16px;display:inline-block;background-image:url(../images/ic_vote_check.svg);background-size: cover;background-position: center;background-repeat: no-repeat;vertical-align: middle;
    }
}

.title-ball{
    display: inline-block;width: 20px;height: 20px;border-radius: 50%;transform: translateY(-1px);
    &.yellow{background: $yellow;}
    &.black{background-color: $black;}
    & + .title-ball{margin-left: 3px;}
    & + p{margin-left: 7px;}
}

.badge-feed{
    min-width: 0;font-family: 'NanumBarunGothic';margin: 0;height: 21px;padding-top: 0;
}
.badge.gilroy{padding-top: 2px;}
.fail{
    .badge-outline-dark-primary{background-color: rgba(0,0,0,0.1);}
}

.tracking-title{
    font-size:24px;position: relative;z-index:2;margin:20px 0;padding:0 10px;min-height: 80px; display: flex;justify-content: center;flex-direction: column;
    &::after{content:"";width:80px;height:80px;border-radius:50%;background-color:$yellow;position:absolute;left:-20px;top:50%;transform: translate(0 , -50%);z-index:-1;}
    &.gray{
        &::after{background-color:$gray;}
    }
}

.label-event{
    font-size: 12px;width: 113px;height: 39px;font-weight: 700;text-align: center;line-height: 40px;
    &.label-event-yellow{background: url('../images/eventSticker1.svg') no-repeat 50% 50%;background-size: contain;}
    &.label-event-dark{background: url('../images/eventSticker2.svg') no-repeat 50% 50%;background-size: contain;color: #fff;}
}

.detail-img{
    width:100%;padding-top:100%;height: 0;background-position: center;background-size:cover;background-repeat: no-repeat;position: relative;
    .icon-like{width:30px;height:30px;background-image: url(../images/ic_btn_like_off.svg); background-position: center; background-repeat: no-repeat; background-size: cover;background-color: $black;display: inline-block;opacity: .5;border-radius: 50%; position: absolute;top:15px;right:15px;
        &.active{background-image: url(../images/ic_btn_like_on.svg);opacity: 1;}
    }
    .label-event{
        position: absolute;left: 20px;bottom: 20px;
    }
}

// event-detail
.container-wrap{
    padding:0 20px;overflow: hidden;
    .container-wrap{padding-left: 0;padding-right: 0;}
    .badge{min-width: 0;}
    .component{
        margin-top:30px;
        .detail-img{border-radius: 7px;}
        .subject{line-height: 1.44;}
        .price{margin:10px 0 15px;line-height: 1;
            .icon-point{margin-right: 4px;transform: translateY(-1px);}
        }
        .date{margin-left:5px;}
        .progress{background: rgba(0,0,0,0.12);border-radius: 0;}
        .progress-bar{background-color: #000;}
        &.success{
            .detail-img::before{content: '';display: block;width: 80px;height: 80px;background: url('../images/event_success_sticker_1.svg') no-repeat 50% 50%;background-size: contain;position: absolute;left: 10px;bottom: 10px;}
            .icon-like{display: none;}
        }
    }
    .event-deadline{
        border-top: 1px solid rgba(0,0,0,0.15);border-bottom: 1px solid rgba(0,0,0,0.15);padding: 20px 0;
        .tit{
            font-size: 12px;font-weight: 700;margin-bottom: 8px;display: flex;align-items: center;line-height: 1.16666;
            i{margin-right: 5px;transform: translateY(-1px);}
        }
        .d-flex{
            height: 35px;
            strong{font-size: 30px;font-weight: 700;line-height: 1.16666;}
            .day{margin-right: 5px;}
        }
        .period{
            margin-top: 10px;font-size: 12px;color: rgba(0,0,0,0.6);display: flex;
            b{margin-right: 5px;}
        }
    }

    .info{
        border:1px solid rgba(0,0,0,0.1); padding:20px;
        p{margin-bottom:15px;line-height: 1;}
        li{
            display:flex;font-size:12px;line-height: 1.666;
            & + li{margin-top: 5px;}
            span:nth-child(1){width:69px;flex: 0 0 69px;font-weight: 700;}
            span:nth-child(2){flex: 1 1 100%;max-width: 100%}
        }
        &.bg{
            background-color: #f7f7f7;border-color: #f7f7f7;
        }
    }

    .notice{
        border:1px solid rgba(0,0,0,0.1);background-color: #f7f7f7;border-color: #f7f7f7; padding:20px;
        li{font-size:12px;color: rgba(0,0,0,0.6);line-height: 1.6666;position: relative;padding-left: 10px;word-break: keep-all;}
        li::before{
            content: '';display: block;width: 3px;height: 3px;background: rgba(0,0,0,0.6);border-radius: 50%;position: absolute;left: 0;top: 6px;
        }
    }

    .product-info{
        .ball-text{
            font-size: 16px;
            display: flex;align-items: center;
            .ball{font-weight: 700;flex: 0 0 100px;width: 100px;height: 100px;display: flex;align-items: center;justify-content: center;background: $yellow;border-radius: 50%;overflow: hidden;}
            .ball.black{background: #000;color: $yellow;}
            .text{margin-left: 5px;}
        }
        @media (max-width: 374px){
            .ball-text{font-size: 15px;
                .ball{flex: 0 0 90px;width: 90px;height: 90px;}
            }
        }
        .product{
            font-size: 13px;line-height: 1.3;padding: 0 15px;margin-top: 15px;border-right: 1px solid rgba(0,0,0,0.15);
            .product-name{font-weight: 700;}
            .how-many{margin-top: 7px;}
        }
    }

    .event-end{
        border-top:1px solid rgba(0,0,0,0.15);border-bottom:1px solid rgba(0,0,0,0.15);padding: 20px 0;position: relative;
        h2{font-size: 16px;font-weight: 700;line-height: 1.1875;margin-bottom: 15px;}
        p{font-size: 12px;line-height: 1.666;}
        em{color: rgba(0,0,0,0.6);font-size: 12px;font-style: normal;font-weight: 400;display: block;margin-top: 5px;}
        .stamp{
            width: 80px;height: 80px;background-repeat: no-repeat;background-size: contain;background-position: center;display: block;position: absolute;right: 0;top: -40px;
            &.success-1{background-image: url(../images/event_success_sticker_1.svg);}
            &.success-2{background-image: url(../images/event_success_sticker_2.svg);}
            &.success-3{background-image: url(../images/event_success_sticker_3.svg);}
            &.success-4{background-image: url(../images/event_success_sticker_4.svg);}
            &.success-5{background-image: url(../images/event_success_sticker_5.svg);}
            &.success-6{background-image: url(../images/event_success_sticker_6.svg);}
            &.end-1{background-image: url(../images/event_success_sticker_black_1.svg);}
            &.end-2{background-image: url(../images/event_success_sticker_black_2.svg);}
            &.end-3{background-image: url(../images/event_success_sticker_black_3.svg);}
            &.end-4{background-image: url(../images/event_success_sticker_black_4.svg);}
            &.end-5{background-image: url(../images/event_success_sticker_black_5.svg);}
            &.end-6{background-image: url(../images/event_success_sticker_black_6.svg);}
        }
        & + .info{margin-top: 40px;}
    }

    .item{
        &.winning{
            margin-left:-20px;margin-right:-20px;
            .tracking-title{
                min-height: 120px; margin:40px 0 10px 0;display: flex;justify-content: center;flex-direction: column;padding-left: 40px;
                &::after{width:120px;height:120px;left: 0;}
                h3{font-size:26px;line-height: 1.153;margin-bottom:5px;}
                p{line-height: 20px;}
            }
            .swiper-slide{
                width: 200px !important;height: auto !important;
                .img{width:200px;height:200px;border-radius: 50%;background-size:cover;background-repeat: no-repeat;background-position: center;}
                .point{width: 200px;height: 200px;border-radius: 50%; background-color: #ffff00;display: flex;align-items: center;justify-content: center;}
                .num{font-size:20px;font-family: 'Gliroy'; font-weight: bold;margin-top: 10px;}
                .name{margin-top:5px;font-size:20px;font-weight: bold;}
                .winning-list{margin-top:10px;}
                .list-wrap{position: relative;margin-right:5px;}
                .people{width:20px;height:20px;display:inline-block;background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:50%;border:1px solid $white;
                    &.people-1{margin-left:0;z-index: 1;}
                    &.people-2{margin-left:-10px;z-index: 2;}
                    &.people-3{margin-left:-10px;z-index: 3;}
                }
            }
            .event-review{
                .card{border-bottom:1px solid #ddd;}
            }

            .card-list{
                display:flex;flex-flow:wrap;
                li{
                    margin-top: 40px;
                    .item{width: 100%;display: block;background: #fff;text-decoration: none;transition: all .2s;box-shadow: none;}
                    .item:hover .thumb .bg{transform: scale(1.05);}
                }
                .thumb{
                    height: 180px;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;position: relative;overflow: hidden;border-radius: 7px;
                    .bg{height: 100%;width: 100%;position: absolute;left: 0;top: 0;transition: transform 0.2s ease 0s;background-position: center;background-size:cover;background-repeat: no-repeat;}
                        img{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);max-height: none;}
                    .badge{position: absolute;left: 0;bottom: 0;}
                    .badge-warning{font-weight: 700;}
                }
                .text{
                    padding: 15px 0;
                    .subject{
                        font-size:16px;font-weight: 700;display: -webkit-box;height: 2.88em;line-height: 1.44;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: inherit;
                        &.line-3{height: 3.32em;-webkit-line-clamp: 3;}
                    }
                    .util{
                        padding-left: 15px;
                        .icon{width: 30px;height: 30px;border-radius: 50%;background: #000;position: relative;
                            i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
                        }
                        span{font-size: 11px;font-weight: 700;display: block;text-align: center;margin-top: 6px;}
                    }
                    .percent{
                        line-height: 1.15;
                        em{font-size: 12px;font-style: normal;color: #ff4841;font-weight: 700;}
                        span{font-size: 14px;color: #4a4a4a;margin-left: 5px;}
                    }
                    .deadline{font-size: 12px;color: rgba(0,0,0,0.6);margin-left:5px;padding-top: 1px;}
                    .progress{margin-top: 0;}
                }
                li.finished{
                    .progress-bar{background-color: #7b7b7b;}
                }
            }
        }
        &.product{
            .title{margin-bottom:20px; line-height: 15px;}
            .img{width: 100%;height: 0;padding-bottom: 100%;background-size: cover;background-position: center;background-repeat: no-repeat;}
            .desc{
                padding:20px 0; border-bottom:1px solid rgba(0,0,0,0.05);
                h5{margin-bottom:15px;}
                p{line-height: 24px;}
            }
            .detail{
                padding:20px 0;
                li{
                    display:flex;font-size:14px;line-height: 1.714;
                    & + li{margin-top: 5px;}
                    span:nth-child(1){width:57px;flex: 0 0 57px;font-weight: 700;}
                    span:nth-child(2){flex: 1 1 100%;max-width: 100%}
                }
            }
        }
        &.lucky{
            .title{margin-bottom:20px; line-height: 15px;}
            .img{width: 100%;height: 0;padding-bottom: 100%;background-size: cover;background-position: center;background-repeat: no-repeat;}
            .desc{
                padding:20px 0;
                .only{display:inline-block;margin-bottom:9px;}
                h5{margin-bottom:15px;}
                .text{line-height: 24px;}
            }
            .detail{
                padding:20px 0;border-bottom:1px solid rgba(0,0,0,0.3);border-top:1px solid rgba(0,0,0,0.05);
                li{
                    display:flex;font-size:14px;line-height: 1.714;
                    & + li{margin-top: 5px;}
                    span:nth-child(1){width:57px;flex: 0 0 57px;font-weight: 700;}
                    span:nth-child(2){flex: 1 1 100%;max-width: 100%}
                    p{font-size: 12px;color: rgba(0,0,0,0.4);}
                }
            }
            .lucky-item{
                border-bottom:1px solid rgba(0,0,0,0.3);
                .rank{
                    display: flex; align-items: center;padding:15px 0;
                    .img{width: 105px;height: 105px;flex: 0 0 105px;padding-bottom: 0;background-size: cover;background-position: center;background-repeat: no-repeat;}
                    .text{
                        margin-left:10px;max-width: 100%;flex-grow: 1;
                        > div{line-height: 1;}
                        .paint{line-height: 1.13333;vertical-align: top;}
                        .name{margin: 10px 0 7px 0;line-height: 1.1876;}
                        .font-14{line-height: 1.1428;}
                        .d-flex{margin-top: 7px;}
                        .font-12{color: rgba(0,0,0,0.4);line-height: 1;margin-top: 5px;}
                    }
                    .point{
                        width: 105px;height: 80px;position: relative;
                        &::before{content: '';display: block;width: 80px;height: 80px;background-color: $yellow;border-radius: 50%;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: -1;}
                        display:flex;align-items: center;justify-content: center;
                    }
                }
                .rank + .rank{border-top:1px solid rgba(0,0,0,0.05);}
            }
        }
        &.article{
            .title{margin-bottom:20px; line-height: 15px;}
            .content{
                img{margin: 30px 0 20px;width: 100% !important;height: auto !important;}
                .img{width: 100%;height:207px;margin:30px 0 20px 0;background-size: cover;background-position: center;background-repeat: no-repeat;}
                .img + .img{margin-top: 50px;}
                .content-title{line-height: 28px;
                    &.red{color:$red;}
                }
                .text{
                    padding:10px 0 0 0;
                    .qna{margin-top:40px;
                        p{font-size:14px; line-height: 24px;}
                        &:first-child{margin-top:0;}
                    }
                    p{line-height: 24px;}
                }
            }
        }
        &.lupick{
            border-top:2px solid $black;padding:15px 0 0 0;
            .title{line-height: 30px;margin-bottom: 14px;}
            .desc{
                .text{line-height: 1.8571;}
            }
        }
        &.process{
            border-top:1px solid $black;padding:15px 0 0 0;
            .title{line-height: 30px;}
            .desc{
                .list{
                    display:flex;align-items: center;margin-top:25px;
                    &.top{
                        .step::after{content:"";display: block;height: 2px;background-color: #e5e5e5;position: absolute;top:19px;left: 50%;width: 100vw;z-index: 0;}
                    }
                    &.bottom{
                        .step::after{content:"";display: block;height: 2px;background-color: #e5e5e5;position: absolute;top:19px;right: 50%;width: 100vw;z-index: 0;}
                    }
                }
                .step{
                    width: 25%;display:flex; align-items: center; flex-flow: column;position: relative;
                    &.active{
                        .circle{background-color: $black;color:$yellow;}
                    }
                    p{font-size:14px;font-weight: bold;margin-top:7px;line-height: 1.142;}
                }
                .circle{
                    width:40px;height:40px;border-radius: 50%;font-family: 'Gilroy';background-color: $yellow;padding-top: 3px;
                    color:$black;font-size:20px;font-weight: bold;display: flex;align-items: center;justify-content: center;;position: relative;z-index: 1;
                }
            }
        }
    }
}

//피드
.container-wrap.feed{
    .component.feed{
        .subject{font-size: 20px;line-height: 1.3;}
        .date{color: rgba(0,0,0,0.6);}
    }
    .view-event{margin:40px 0 20px 0;}
    .feed-event-img{width: 163px;height: 163px;border-radius:7px;background-size: cover;background-repeat: no-repeat;background-position: center;position: relative;
        .icon-like{width:30px;height:30px;background-image: url(../images/ic_btn_like_off.svg); background-position: center; background-repeat: no-repeat;background-size: cover;background-color: $black;display: inline-block;opacity: .5;border-radius: 50%; position: absolute;top:10px;right:10px;
            &.active{background-image: url(../images/ic_btn_like_on.svg);opacity: 1;}
        }
    }
    .relation{
        margin-top:40px;border-top:2px solid $black;
        .title{font-family: 'Gilroy'; font-weight: bold; font-size:24px;margin-top:15px;line-height: 1.21;}
        .items{margin-top:30px;}
        .desc{width:45%;margin-left:10px;
            p{display: -webkit-box;max-height: 5.72em;line-height: 1.43;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
            .price{margin:10px 0;line-height: 1.1875;}
            .percent{
                border-top:2px solid #000;padding:10px 0;
                .date{color: rgba(0,0,0,0.6);}
            }
        }
    }
}

//상품정보고지
.product-info-content{
    padding: 0 20px;

    .desc{
        margin-top:30px;
        p{line-height: 22px;font-size:14px;}
        li{line-height: 22px;font-size:14px;}
    }
}
.item.move-btn{margin-top:50px;}
.item.share{
    margin:40px 0 50px 0;display:flex;align-items: center;justify-content: center;
    .list{width: 50px;text-align: center;margin:0 15px;
        p{font-size: 12px; font-weight: bold;}
    }
    .desc{width:50px;height: 50px;display:flex;align-items: center;justify-content: center;background-color: rgba(0, 0, 0, 0.05);border-radius: 50%;margin: 0 auto;}
    .ic-heart{width: 30px;height: 30px;background-image:url(../images/ic_heart.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
    .ic-share{width: 30px;height: 30px;background-image:url(../images/ic_share.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
    .ic-ask{width: 30px;height: 30px;background-image:url(../images/ic_ask.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
}
.modal-dialog{
    .modal-header{
        .header{
            position: relative;width: 418px;height: 60px;padding: 20px;margin-bottom: 0;top: 0;background-color: #fff;z-index: 40;
            .ic-back{width: 20px;height: 15px;background-image: url(../images/ic_back.svg);background-size: cover;background-position: center;background-repeat: no-repeat;margin-right: 15px;}
        }
    }
    .container-wrap{
        padding: 0 20px;
        .container-wrap{padding:  0;}
        &.feed{
            .component{margin-top: 30px;}
        }
    }
}

.exhibition-main{
    padding:20px;
    .main-banner{width: 100%;padding-top:100%;background-position: center; background-size: cover;background-repeat: no-repeat;}
    .title{color:$white;margin:30px 0 15px 0; font-size:26px; font-weight: bold;line-height: 1.153;}
    .desc{color:$white;line-height: 24px;}
    .example-text{color:$white;opacity: $opacity-5;margin:10px 0 0;}
}

.copyright-wrap{
    margin-top:40px;border-top:1px solid rgba(0,0,0,0.15);
    padding-bottom: 40px;padding-top: 20px;
    padding-bottom: calc(constant(safe-area-inset-bottom) + 40px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
    .copyright{font-size:10px;color: $black;opacity: $opacity-4;text-align: center;line-height: 1.2;}
}