body{color:$black;line-height: 22px;font-size:16px; }
// word-break: keep-all;
.wrap{
    padding: 0 0 70px 0;position:relative;
    .header{
        position:fixed;width:100%;height:60px;padding: 20px;margin-bottom:20px;top:0;background-color:$white;z-index:40;
        .ic-back{width:20px;height:15px;background-image:url(../images/ic_back.svg);background-size: cover;background-position: center;background-repeat: no-repeat;
        margin-right:15px;
        }
        .ic-home{width: 30px;height: 30px;transform: translate(5px, -5px);}
    }
    &.vote-result{padding: 0;}
    &.detail{padding: 0 0 70px 0;}
    &.feed{padding: 60px 0 70px 0;}
}

.close{width:30px;height:30px;display:inline-block;background-image:url(../images/btn_exit.svg);background-size: cover;background-position: center;background-repeat: no-repeat; position: fixed; top:20px;right:20px;z-index: 5;}

.btn.fixed{
    position:fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display:flex;
    align-items: center;
    justify-content: center;
    &.yellow{color:$yellow;}
    .icon{
        width:18px;height:16px;display:inline-block;background-image:url(../images/arrow.svg);background-size: cover;background-position: center;background-repeat: no-repeat;vertical-align: middle;
    }
}

// event-detail
.container-wrap{
    padding:0 20px;overflow: hidden;
    .container-wrap{margin: 0 -20px;}
    .p-20{padding: 0 20px;}
    .component{margin-top:30px;
        .price{margin:10px 0 20px;}
        .date{margin-left:5px;}
    }
    @at-root{
        .detail-img{width:100%;padding-top:100%;background-position: center;background-size:cover;background-repeat: no-repeat;}
    }

    .notice{background-color: rgba(0,0,0,0.05); padding:20px 15px;margin-top:30px;
        .desc{font-size:12px;}
        li{font-size:12px;}
    }

    .info{border:1px solid $gray; padding:20px;margin-top:15px;
        p{margin-bottom:15px;}
        li{display:flex;font-size:12px;padding-bottom:5px;
            &:last-child{padding-bottom:0;}
            span{display:inline-block;}
            span:nth-child(1){width:20%;}
            span:nth-child(2){width:75%;margin-left:15px;}
        }
    }
    .item{
        margin-top:50px;
        &.winning{padding:0;margin-left:-20px;margin-right:-20px;
            .tracking-title{padding: 0 20px 0 40px;margin:80px 0 40px 0;
                &::after{width:120px;height:120px;left:0;}
                h1{font-size:26px;line-height: 26px;margin-bottom:5px;}
                p{line-height: 20px;}
            }
            .swiper-wrapper{padding-left:40px;}
            .swiper-slide{
                .img{width:200px;height:200px;border-radius: 50%;background-size:cover;background-repeat: no-repeat;background-position: center;}
                .point{width: 200px;height: 200px;border-radius: 50%; background-color: #ffff00;display: flex;align-items: center;justify-content: center;}
                .num{font-size:20px;font-family: 'Gliroy'; font-weight: bold;margin-top: 10px;}
                .name{margin-top:5px;font-size:20px;font-weight: bold;}
                .winning-list{margin-top:10px;}
                .list-wrap{position: relative;margin-right:5px;}
                .people{width:20px;height:20px;display:inline-block;background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:50%;border:1px solid $white;
                    &.people-1{margin-left:0;z-index: 1;}
                    &.people-2{margin-left:-10px;z-index: 2;}
                    &.people-3{margin-left:-10px;z-index: 3;}
                }
            }
            .event-review{
                padding:0 20px 40px;
                .card{border-bottom:1px solid #ddd;}
            }
        }
        &.product{
            .title{margin-bottom:20px; line-height: 15px;}
            .img{width: 100%;height: 320px;background-size: cover;background-position: center;background-repeat: no-repeat;}
            .desc{padding:20px 0; border-bottom:1px solid $gray;
                h5{margin-bottom:15px;}
                p{line-height: 24px;}
            }
            .detail{
                padding:20px 0;
                li{display:flex;font-size:14px;padding-bottom:5px;
                    &:last-child{padding-bottom:0;}
                    span{display:inline-block;}
                    span:nth-child(1){width:20%;}
                    span:nth-child(2){width:75%;margin-left:15px;}
                }
            }
        }
        &.lucky{
            .title{margin-bottom:20px; line-height: 15px;}
            .img{width: 100%;height: 320px;background-size: cover;background-position: center;background-repeat: no-repeat;}
            .desc{padding:20px 0; border-bottom:1px solid $gray;
                .only{display:inline-block;margin-bottom:9px;}
                h5{margin-bottom:15px;}
                .text{line-height: 24px;}
            }
            .lucky-item{
                .rank{display: flex; align-items: center;padding:15px 0;border-bottom:1px solid $gray;
                    .img{width: 100px;height: 100px;background-size: cover;background-position: center;background-repeat: no-repeat;}
                    .point{width: 100px;height: 100px;border-radius: 50%;background-color: $yellow;
                        display:flex;align-items: center;justify-content: center;
                    }
                    .text{width:61%;margin-left:15px;
                        .name{margin: 10px 0 7px 0;}
                    }
                }
            }
        }
        &.article{
            margin-top:20px;
            .content{
                img{margin: 30px 0 20px;width: 100% !important;height: auto !important;}
                .img{width: 100%;height:207px;margin:30px 0 20px 0;background-size: cover;background-position: center;background-repeat: no-repeat;}
                .content-title{line-height: 28px;
                    &.red{color:$red;}
                }
                .text{
                    padding:10px 0 0 0;
                    .qna{margin-top:40px;
                        p{font-size:14px; line-height: 24px;}
                        &:first-child{margin-top:0;}
                    }
                    p{line-height: 24px;}
                }
            }
        }
        &.lupick{border-top:2px solid $black;padding:15px 0 0 0;
            .title{line-height: 30px;}
            .desc{
                .text{margin-top: 15px;}
            }
        }
        &.process{border-top:1px solid $black;padding:15px 0 0 0;margin-top:40px;
            .title{line-height: 30px;}
            .desc{
                .list{display:flex;align-items: center;justify-content: center;margin-top:25px;position:relative;
                    &.top::after{content:"";position: absolute;top:30%;width: 100%;
                    height: 2px;background-color: $gray; transform:translate(0,-50%);left:50px;z-index: 0;}
                    &.bottom::after{content:"";position: absolute;top:30%;width: 100%;
                    height: 2px;background-color: $gray; transform:translate(0,-50%);right:50px;z-index: 0;}
                }
                .step{width: 25%;display:flex; align-items: center; flex-flow: column;position: relative;z-index: 1;
                    &.active{
                        .circle{background-color: $black;color:$yellow;}
                    }
                    p{font-size:14px;font-weight: bold;margin-top:7px;}
                }
                .circle{width:40px;height:40px;border-radius: 50%;background-color: $yellow;
                    color:$black;font-size:20px;font-weight: bold;display: flex;align-items: center;justify-content: center;padding:5px 0 0 0;
                }
            }
        }
    }
}
//상품정보고지
.product-info-content{
    padding: 0 20px;

    .desc{
        margin-top:30px;
        p{line-height: 22px;font-size:14px;}
        li{line-height: 22px;font-size:14px;}
    }
}
.item.move-btn{margin-top:50px;}
.item.share{
    margin:40px 0 50px 0;display:flex;align-items: center;justify-content: center;
    .list{width: 50px;text-align: center;margin:0 15px;
        p{font-size: 12px; font-weight: bold;}
    }
    .desc{width:50px;height: 50px;display:flex;align-items: center;justify-content: center;background-color: rgba(0, 0, 0, 0.05);border-radius: 50%;margin: 0 auto;}
    .ic-heart{width: 30px;height: 30px;background-image:url(../images/ic_heart.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
    .ic-share{width: 30px;height: 30px;background-image:url(../images/ic_share.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
    .ic-ask{width: 30px;height: 30px;background-image:url(../images/ic_ask.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
}
.sel-option{
    padding:20px 0;
    &:first-child{
        border-bottom:1px solid $gray;
    }
    .name{width:265px;font-size: 14px;}
    .sel-delete{
        width:13px;height: 13px;background-image:url(../images/ic_exit.svg);background-position: center;background-size: cover;
    }
    .spinner-wrap{margin-top:13px;
        .price{font-weight: bold;}
    }
}
.total-price{padding:15px 0;border-top:2px solid $black;border-bottom:2px solid $black;display:flex;align-items:center;justify-content: space-between;
    &.border-1{border-top:1px solid $black;border-bottom:1px solid $black;margin-top: -1px;}
    p{display: flex;align-items: center;}
    span{display: inline-block;}
}


//결제정보
.payment-wrap{
    padding: 0 20px 0;
    .tab{border-top:2px solid $black;margin-bottom:40px;
        .tab-title{padding:15px 0;}
        &.item{
            .desc{
                .product{padding:20px 0;display:none;border-bottom:1px solid $gray;margin-top:-1px;
                    &:first-child{border-top:1px solid $gray;}
                    .img{width: 70px;height: 70px;flex: 0 0 70px;background-size: cover;background-position: center;background-repeat: no-repeat;}
                    &.tracking{display:block;}
                }
                .more{
                    position: relative;margin-top:20px;
                    &::after{content:"";
                        width:12px;height:6px;display:inline-block;margin:0 5px;background-image:url(../images/btn_arrow.svg);background-repeat: no-repeat;background-position:center;background-size:contain;
                    }
                    &.active{
                        &:after{
                           transform: rotate(180deg);
                        }
                    }
                }
                .name{width:210px;}
            }
        }
        &.order{
            .desc{
                border-top:1px solid $gray;
                padding:20px 0 0 0;
                li{ margin-bottom:15px;display:flex;
                    >span:nth-child(1){display:inline-block;width:30%;color:#999;}
                    >span:nth-child(2){display:inline-block;width:70%;}
                }
            }
        }
        &.delivery{
            .tab-title{padding:7px 0;border-bottom:1px solid $gray;}
            .desc{padding:20px 0 0 0;
                .del-add{width: 100%;border:1px solid $gray;text-align: left;padding: 0 15px; color:#999;}
                li{line-height: 24px;}
                .ui-selectmenu-button{margin-top:20px;}
                textarea{display:none;margin-top:10px;}
            }
            .change-badge{width: 70px;height:35px; line-height:35px;background-color:rgba(0,0,0,0.05);padding:0;margin: 0;
                span{font-size:13px;font-weight: bold;}
            }
        }
        &.price{
            .desc{
                padding:15px 0;text-align: center;border-top:1px solid $gray;border-bottom:1px solid $gray;
            }
            .money{font-size:15px;font-weight: bold;width:100px;}
            .point{font-size:15px;font-weight: bold;width:100px;}
            .plus{width:20px;height:20px;display:inline-block;background-image: url(../images/ic_plus.png); background-size: contain;background-position: center;background-repeat: no-repeat;}
            .minus{width:20px;height:20px;display:inline-block;background-image: url(../images/ic_minus.png);background-size:contain;background-position: center;background-repeat: no-repeat;}
        }
        &.agree{
            .custom-control-inline{margin-right:0; margin-top:15px;}
            .custom-control-label{padding-top:2px;}
        }
        &.payment{
            margin-bottom: 35px;
            .row{margin-left:-5px;margin-right:-5px;}
            .col-6{display:flex;align-items: center;justify-content: center;padding :0 5px;}
            label{width:100%;}
            .way{width: 100%;height:50px;border:1px solid $gray;display:flex;align-items: center;justify-content:center;margin-bottom:15px;background-repeat: no-repeat;background-position: center;}
            input[type=radio]:not(old):checked + label {
                .way{border:2px solid $black;}
            }
            input[type=radio]{display:none;}
        }
        &.point{
            .btn.btn-outline-dark{font-size:16px;
                &:hover{background-color: inherit;color: inherit;}
            }
        }
    }
    .tracking-content{
        margin-right:-5px;margin-left:-5px;margin-top: 20px;justify-content:space-between;
        .col-6{padding-left:5px;padding-right:5px;}
    }
}

.tracking-btn{
    width:100%;height:40px;font-size:14px;color:#000;border: 1px solid rgba(0, 0, 0, 0.15);
    &:disabled{background-color: rgba(0, 0, 0, 0.05);border:0;}
}


//결제완료
.result{
    position:relative;
    h1{font-size:35px;line-height: 45px;margin-bottom:30px;}
    .text{padding-bottom: 70px;opacity: $opacity-6;}
    .bg-balls {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
//주문내역
.tracking-wrap{
    .content{padding : 30px 20px;border-top:4px solid rgba(0,0,0,0.05);
        &:first-child{border-top:0;}
    }
    .order-number{border-bottom:1px solid $gray;padding:0 0 10px 0;}
    .desc{
        width: 100%;display:flex;justify-content: space-between;
        .text{width:65%;}
        .product{width:30%;text-align: right;}
        .img{width: 70px;height:70px;background-position: center;background-size: cover;background-repeat:no-repeat;float: right;}
    }

    @at-root{
        .tracking-title{
            font-size:24px;position: relative;z-index:2;margin:40px 0 50px 0;padding:0 10px;
            &::after{content:"";width:80px;height:80px;border-radius:50%;background-color:$yellow;position:absolute;left:-20px;top:50%;transform: translate(0 , -50%);z-index:-1;}
            &.gray{
                &::after{background-color:$gray;}
            }
        }
    .text-underline{margin-top:50px;line-height: 26px;}
        .tracking-order{margin:30px 0 15px 0;}
        .success{margin-top:30px;
            .example-text{margin-bottom:15px;}
            a{
                i{margin-top:5px;}
            }
        }
    }
}



//투표하기
.vote-wrap{
    padding: 0 20px 0;
    .content{
        &.vote{
            width: 100%;height:100%;position: relative;z-index: 2;padding: 0 0 35px 0;
            .title{font-size:35px;line-height: 45px;}
            .desc{
                p{margin-top:30px;}
            }
            .form-control{margin-top:15px;
                &:focus{border:1px solid $black;}
            }
            .bg-balls {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;height: 100%;z-index:-1;
            }
            .input-form{position: relative;}
            .error-msg{color:$red;font-size:10px;position: absolute;right:10px;top:49%;
                transform: translate(0, -50%);opacity: 0;
                &.active{opacity: 1;}
            }
        }
    }
}
// 투표하기
.winning-wrap{
    padding:0 20px 0;text-align:center;
    .balls{position: relative;z-index: 2;height:100%;
        .result{height:350px;
            &.success{
                .winning-name{padding-bottom:40px;}
            }
            &.fail{
                .winning-name{padding-top:50px;line-height: 28px;}
            }
        }
        .bg-balls {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;height: 100%;z-index:-1;
        }
    }

    .img{width: 170px;height:170px;background-size: cover;background-repeat: no-repeat;background-position: center;border-radius: 50%;margin:20px auto;}
    .btn{font-size:16px;}
    .title{font-size:30px;line-height: 40px;}
    .line{border-top:2px solid $black;padding:20px 0;}
}
// 투표결과
.vote-result-wrap{
    height:100vh;padding:95px 0 0 0;
    .balls{height: 100%;}
    .bg-balls{height: 100%;}
}

//피드
.container-wrap.feed{
    .component.feed{border-bottom:1px solid $gray;}
    .view-event{margin:40px 0 20px 0;}
    .feed-img{width: 100%;padding-top:100%;background-size: cover;background-repeat: no-repeat;background-position: center;border-radius: 7px; position: relative;
        .icon-like{width:30px;height:30px;background-image: url(../images/ic_btn_like_off.svg); background-position: center; background-repeat: no-repeat; background-size: cover;background-color: $black;display: inline-block;opacity: .5;border-radius: 50%; position: absolute;top:15px;right:15px;
            &.active{background-image: url(../images/ic_btn_like_on.svg);opacity: 1;}
        }

    }
    .subject{margin-top:15px;}
    .feed-event-img{width: 163px;height: 163px;border-radius:7px;background-size: cover;background-repeat: no-repeat;background-position: center;position: relative;
        .icon-like{width:30px;height:30px;background-image: url(../images/ic_btn_like_off.svg); background-position: center; background-repeat: no-repeat;background-size: cover;background-color: $black;display: inline-block;opacity: .5;border-radius: 50%; position: absolute;top:10px;right:10px;
            &.active{background-image: url(../images/ic_btn_like_on.svg);opacity: 1;}
        }
    }
    .relation{margin-top:40px;border-top:2px solid $black;padding-bottom:40px;
        .title{font-family: 'Gilroy'; font-weight: bold; font-size:24px;margin-top:15px;}
        .items{margin-top:30px;}
        .desc{width:45%;margin-left:10px;
            .price{margin:10px 0;}
            .percent{
                border-top:1px solid $gray;
                padding:10px 0;
            }
        }
    }
}
.exhibition-main{width: 100%;height:calc(100vh - 60px);padding:20px;
    .main-banner{width: 100%;padding-top:100%;background-position: center; background-size: cover;background-repeat: no-repeat;}
    .title{color:$white;margin:30px 0 15px 0; font-size:26px; font-weight: bold;}
    .desc{color:$white;line-height: 24px;}
    .example-text{color:$white;opacity: $opacity-5;margin:10px 0;}
}
hr{margin-top:40px;border-top:1px solid $gray;}
.copyright{font-size:10px;color: $black;opacity: $opacity-4;margin-top: 20px;}

#selectmenu-zone{
    .ui-selectmenu-menu{position: static !important;}
    .ui-selectmenu-menu .ui-menu{max-height: none !important;width: auto !important;}
    .ui-selectmenu-menu .ui-menu .ui-state-active{background: transparent;color: #000;}
}

.badge-shipping{
    min-width: 0;font-family: 'NanumBarunGothic';margin: 0;
}